* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

.header, .header-logo, .header-menu, .header-menu-list, .banner-controls, .content, .content-order-cycle, .content-order-form-container, .range__info, .content-order-form-button-container, .footer, .footer-payment, .footer-contact-us {
  display: flex;
  flex-wrap: nowrap; }

.header, .header-logo, .header-menu, .header-menu-list, .banner-controls, .content, .content-order-cycle, .content-order-form-container, .range__info, .content-order-form-button-container, .footer, .footer-payment, .footer-contact-us {
  display: flex;
  flex-wrap: nowrap; }

.header-section {
  width: 100%;
  height: 100px;
  background-color: #10101d;
  opacity: 0.9; }

.header {
  justify-content: space-between; }

.header-logo {
  justify-content: flex-start; }

.header-logo__link {
  display: block;
  margin-top: 41px;
  cursor: pointer; }
  .header-logo__link img {
    width: 100px; }
    @media (min-width: 768px) {
      .header-logo__link img {
        width: unset; } }

.header-menu {
  align-items: flex-start; }

.header-menu-list {
  justify-content: flex-start;
  margin-top: 38px; }
  @media (min-width: 768px) {
    .header-menu-list {
      margin-top: 47px; } }

.header-menu-list__item {
  color: #ffffff;
  font-family: "Lato - Semibold";
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  text-transform: uppercase;
  letter-spacing: 0.33px;
  margin-right: 5px;
  cursor: pointer; }
  .header-menu-list__item:last-child {
    margin-right: unset; }
  .header-menu-list__item:first-child {
    color: #42a9ed; }
  @media (min-width: 768px) {
    .header-menu-list__item {
      margin-right: 45px;
      font-size: 13px;
      line-height: 18px; } }

.header, .header-logo, .header-menu, .header-menu-list, .banner-controls, .content, .content-order-cycle, .content-order-form-container, .range__info, .content-order-form-button-container, .footer, .footer-payment, .footer-contact-us {
  display: flex;
  flex-wrap: nowrap; }

.banner-description-list__bold, .banner-description-list__item {
  color: #2a2b30;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 34px; }
  @media (min-width: 768px) {
    .banner-description-list__bold, .banner-description-list__item {
      font-size: 20px;
      line-height: 34px; } }

.banner-controls__button-blue, .banner-controls__button-white {
  width: 183px;
  height: 42px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer; }

.button-blue-title, .button-white-title {
  display: inline-block;
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 0.33px;
  margin-top: 12px; }

.banner-section {
  background-image: url("../images/main-picture.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 550px; }
  @media (min-width: 768px) {
    .banner-section {
      height: 849px; } }

.banner-title {
  margin: 45px 0 24px; }
  @media (min-width: 768px) {
    .banner-title {
      margin: 145px 0 74px; } }

.banner-title-text {
  color: #272733;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .banner-title-text {
      font-size: 48px;
      line-height: 64px; } }

.banner-description {
  margin-bottom: 35px; }
  @media (min-width: 768px) {
    .banner-description {
      margin-bottom: 77px; } }

.banner-description-list__bold {
  font-weight: 700; }

.banner-description-list__item {
  font-weight: 400; }

.banner-controls {
  justify-content: flex-start; }

.banner-controls__button-blue {
  border: 1px solid #ffffff;
  background-color: #3e9cdc;
  margin-right: 27px; }
  .banner-controls__button-blue:hover {
    background-color: #42a9ed; }

.banner-controls__button-white {
  border: 1px solid #6f6d7b;
  background-color: #ffffff; }
  .banner-controls__button-white:hover {
    border-color: #bbbbbb; }
    .banner-controls__button-white:hover span {
      color: #6f6d7b; }

.button-blue-title {
  color: #ffffff; }

.button-white-title {
  color: #2a2b30; }

.header, .header-logo, .header-menu, .header-menu-list, .banner-controls, .content, .content-order-cycle, .content-order-form-container, .range__info, .content-order-form-button-container, .footer, .footer-payment, .footer-contact-us {
  display: flex;
  flex-wrap: nowrap; }

.content-section {
  background-image: url("../images/content-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 1400px; }
  @media (min-width: 768px) {
    .content-section {
      height: 1450px; } }
  @media (min-width: 992px) {
    .content-section {
      height: 880px; } }

.content {
  flex-direction: column; }

.content-title {
  margin-top: 45px;
  color: #ffffff;
  font-family: "Lato - Heavy";
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center; }
  @media (min-width: 992px) {
    .content-title {
      margin-top: 123px;
      font-size: 36px; } }

.content-description {
  margin: 16px 0;
  color: #bbbbbb;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: center; }
  @media (min-width: 768px) {
    .content-description {
      font-size: 18px; } }
  @media (min-width: 992px) {
    .content-description {
      margin: 29px 0 79px; } }

.content-order-cycle {
  flex-wrap: wrap;
  flex-direction: column; }
  @media (min-width: 992px) {
    .content-order-cycle {
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: flex-start; } }

.order-cycle__item {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin-bottom: 12px; }
  .order-cycle__item:last-child {
    margin-bottom: 16px; }
  @media (min-width: 992px) {
    .order-cycle__item {
      width: 70px;
      margin-bottom: unset; }
      .order-cycle__item img {
        width: 70px; }
      .order-cycle__item:last-child {
        margin-bottom: unset; } }
  @media (min-width: 1200px) {
    .order-cycle__item {
      width: 125px; }
      .order-cycle__item img {
        width: unset; } }

.points {
  margin-top: 46px;
  display: none; }
  @media (min-width: 992px) {
    .points {
      display: block; } }

.order-cycle__description {
  display: inline-block;
  color: #ffffff;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  margin-top: 20px;
  width: 100%; }
  @media (min-width: 768px) {
    .order-cycle__description {
      font-size: 16px; } }

.content-order-form-container {
  flex-direction: column; }

.content-order-form-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 32px; }
  .content-order-form-block:nth-child(2) {
    margin-bottom: 51px; }
  @media (min-width: 992px) {
    .content-order-form-block {
      flex-wrap: nowrap; } }

.content-order-form__item {
  width: 100%;
  height: 48px;
  border-radius: 3px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: #272733;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  padding: 16px;
  margin-right: 0;
  margin-bottom: 12px; }
  .content-order-form__item:last-child {
    margin-right: 0;
    flex-basis: 100%; }
  @media (min-width: 992px) {
    .content-order-form__item {
      width: 370px;
      margin-right: 29px;
      margin-bottom: unset; }
      .content-order-form__item:last-child {
        flex-basis: 370px; } }

.content-order-form__item::placeholder {
  color: #272733; }

.content-order-form__item:-ms-input-placeholder {
  color: #272733; }

.content-order-form__range {
  margin-bottom: 24px;
  width: 100%; }
  @media (min-width: 1200px) {
    .content-order-form__range {
      margin-bottom: unset; } }

.range__info {
  justify-content: space-between; }

.range__label, .range__value {
  color: #ffffff;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 18px; }

.range__input {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 3px;
  border: 1px solid #ffffff;
  background-color: #c3c3c3;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s; }

.range__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 3px solid #286690;
  background-color: #42a9ed;
  cursor: pointer; }

.range__input::-moz-range-thumb {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 3px solid #286690;
  background-color: #42a9ed;
  cursor: pointer; }

.range__input::-ms-fill-lower,
.range__input::-ms-fill-upper {
  background: transparent; }

.range__input::-ms-track {
  width: 100%;
  height: 6px;
  border-radius: 3px;
  border: 1px solid #ffffff;
  background-color: #c3c3c3;
  outline: none;
  color: transparent; }
  @media (min-width: 1200px) {
    .range__input::-ms-track {
      width: 770px; } }

.range__input::-ms-thumb {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 3px solid #286690;
  background-color: #42a9ed;
  cursor: pointer; }

.content-order-form__file {
  flex-basis: 100%;
  display: flex;
  justify-content: center; }
  @media (min-width: 992px) {
    .content-order-form__file {
      flex-basis: 370px;
      display: block;
      margin-left: 29px; } }

.file__input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

.file__input + label {
  display: inline-block;
  width: 330px;
  height: 48px;
  border-radius: 3px;
  border: 2px solid #3e9cdc;
  background-color: #ffffff;
  color: #272733;
  font-family: "Lato - Semibold";
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
  padding: 13px 68px 0;
  cursor: pointer; }
  @media (min-width: 992px) {
    .file__input + label {
      width: 370px;
      padding: 13px 88px 0; } }

.file__image {
  margin-right: 18px; }

.content-order-form-button-container {
  justify-content: center; }

.content-order-form-button-container__button {
  width: 100%;
  height: 48px;
  border-radius: 3px;
  border: 1px solid #ffffff;
  background-color: #3e9cdc;
  color: #ffffff;
  font-family: "Lato - Semibold";
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase; }
  @media (min-width: 992px) {
    .content-order-form-button-container__button {
      width: 370px; } }

.content-order-form__select {
  width: 100%;
  position: relative;
  margin-right: 0;
  margin-bottom: 12px;
  height: 48px; }
  @media (min-width: 992px) {
    .content-order-form__select {
      width: 370px;
      margin-right: 29px;
      margin-bottom: 0; } }

.content-order-form__select.is-active .select__body {
  display: block; }

.content-order-form__select.is-active .select__header {
  border-radius: 3px 3px 0 0;
  background-color: #3d4050;
  color: #ffffff;
  border: none; }

.select__header {
  display: flex;
  border-radius: 3px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: #272733;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  cursor: pointer; }

.select__current {
  font-size: 18px;
  line-height: 24px;
  padding: 11px 16px; }

.select__icon {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  height: 40px;
  width: 40px;
  text-align: center;
  margin-left: auto; }
  .select__icon img {
    margin-top: 10px;
    height: 15px;
    width: 15px; }

.select__body {
  display: none;
  position: absolute;
  border-top: 0;
  left: 0;
  right: 0;
  border-radius: 0 0 3px 3px;
  border: 1px solid #3d4050;
  background-color: #272733;
  opacity: 0.9; }

.select__item {
  padding: 11px 16px;
  color: #ffffff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  cursor: pointer; }

.select__item:hover {
  color: #42a9ed; }

.header, .header-logo, .header-menu, .header-menu-list, .banner-controls, .content, .content-order-cycle, .content-order-form-container, .range__info, .content-order-form-button-container, .footer, .footer-payment, .footer-contact-us {
  display: flex;
  flex-wrap: nowrap; }

.footer-payment__title, .footer-contact-us__title {
  display: inline-block;
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px; }

.footer-section {
  width: 100%;
  background-color: #3d4050; }

.footer {
  flex-direction: column;
  padding: 15px 0 15px;
  align-items: center; }
  @media (min-width: 992px) {
    .footer {
      flex-direction: row;
      justify-content: center;
      padding: 35px 0 33px;
      align-items: unset; } }

.footer-rights {
  color: #ffffff;
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  border-right: none;
  padding-right: 0;
  margin-bottom: 10px;
  text-align: center; }
  @media (min-width: 992px) {
    .footer-rights {
      border-right: 1px solid #c3c3c3;
      margin-bottom: 0;
      font-size: 12px;
      padding-right: 5px;
      text-align: unset; } }
  @media (min-width: 1920px) {
    .footer-rights {
      font-size: 13px;
      padding-right: 55px; } }

.footer-payment {
  border-right: none;
  margin-bottom: 10px; }
  @media (min-width: 992px) {
    .footer-payment {
      border-right: 1px solid #c3c3c3;
      margin-bottom: 0; } }

.footer-payment__item {
  padding: 0 7px 0 0; }
  @media (min-width: 992px) {
    .footer-payment__item {
      padding: 0 5px; } }
  @media (min-width: 1920px) {
    .footer-payment__item {
      padding: 0 40px 0 0; }
      .footer-payment__item:first-child {
        padding: 0 40px 0 40px; } }

.footer-payment__title {
  margin: -2px 0 0 10px;
  color: #bbbbbb; }

.yandex-money {
  margin-top: -2px; }

.footer-contact-us__item {
  padding: 0 7px 0 0; }
  @media (min-width: 992px) {
    .footer-contact-us__item {
      padding: 0 5px; } }
  @media (min-width: 1920px) {
    .footer-contact-us__item {
      padding: 0 40px 0 0; }
      .footer-contact-us__item:first-child {
        padding: 0 40px 0 40px; } }

.footer-contact-us__title {
  color: #fefefe;
  margin-left: 10px; }
  @media (min-width: 992px) {
    .footer-contact-us__title {
      margin-left: 5px; } }
  @media (min-width: 1200px) {
    .footer-contact-us__title {
      margin-left: 10px; } }

.contact-us-item {
  margin-top: 3px; }

@media (min-width: 360px) {
  .container {
    padding: 0 16px; } }

@media (min-width: 768px) {
  .container {
    padding: 0 48px; } }

@media (min-width: 1200px) {
  .container {
    padding: 0 72px; } }

@media (min-width: 1920px) {
  .container {
    padding: 0 375px; } }

.blue-text {
  color: #42a9ed; }

.upper-text {
  text-transform: uppercase; }

/*# sourceMappingURL=main.css.map */
