@import "theme.scss";

.content-section {
	background-image: url('../images/content-background.png');
	background-size: cover;
  background-repeat: no-repeat;
	background-position: center;
	height: 1400px;

	@include for-tablet {    
		height: 1450px;
	}

	@include for-desktop-s {    
		height: 880px;
	}
}

.content {
	@extend %flex-block;
	flex-direction: column;
}

.content-title {
	margin-top: 45px;
	color: $white;
	font-family: "Lato - Heavy";
	font-size: 22px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;

	@include for-desktop-s {    
		margin-top: 123px;
		font-size: 36px;
	}
}

.content-description {
	margin: 16px 0;
	color: $grey;
	font-family: Lato;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	text-align: center;

	@include for-tablet{    
		font-size: 18px;
	}

	@include for-desktop-s {    
		margin: 29px 0 79px;
	}
}

.content-order-cycle {
	@extend %flex-block;
	flex-wrap: wrap;
	flex-direction: column;

	@include for-desktop-s {   
		flex-direction: row; 
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: flex-start;
	}
}

.order-cycle__item {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	margin-bottom: 12px;

	&:last-child {
		margin-bottom: 16px;
	}

	@include for-desktop-s {    
		width: 70px;
		margin-bottom: unset;

		img {
			width: 70px;
		}

		&:last-child {
			margin-bottom: unset;
		}
	}

	@include for-desktop-m {    
		width: 125px;

		img {
			width: unset;
		}
	}
}

.points {
	margin-top: 46px;
	display: none;

	@include for-desktop-s {   
		display: block; 
	}
}

.order-cycle__description {
	display: inline-block;
	color: $white;
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
	margin-top: 20px;
	width: 100%;

	@include for-tablet {    
		font-size: 16px;
	}
}

.content-order-form-container {
	@extend %flex-block;
	flex-direction: column;
}

.content-order-form-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 32px;

	&:nth-child(2) {
		margin-bottom: 51px;
	}

	@include for-desktop-s {    
		flex-wrap: nowrap;
	}
}

.content-order-form__item {
	width: 100%;
	height: 48px;
	border-radius: 3px;
	border: 1px solid $white;
	background-color: $white;
	color: $darkBlue3;
	font-family: Lato;
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
	padding: 16px;
	margin-right: 0;
	margin-bottom: 12px;

	&:last-child {
		margin-right: 0;
		flex-basis: 100%; 
	}

	@include for-desktop-s {    
		width: 370px;
		margin-right: 29px;
		margin-bottom: unset;

		&:last-child {
			flex-basis: 370px; 
		}
	}
}

.content-order-form__item::placeholder {
	color: $darkBlue3;
}

.content-order-form__item:-ms-input-placeholder {
	color: $darkBlue3;
}

.content-order-form__range {
	margin-bottom: 24px;
	width: 100%;

	@include for-desktop-m {    
		margin-bottom: unset;
	}
}

.range__info {
	@extend %flex-block;
	justify-content: space-between;
}

.range__label, .range__value {
	color: $white;
	font-family: Lato;
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
	margin-bottom: 18px;
}

.range__input {
	-webkit-appearance: none;
	width: 100%;
	height: 6px;
	border-radius: 3px;  
	border: 1px solid $white;
	background-color: $lightGrey;
	outline: none;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}

.range__input::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 24px;
	height: 24px;
	border-radius: 50%; 
	border: 3px solid $darkBlue;
	background-color: $lightBlue;
	cursor: pointer;
}

.range__input::-moz-range-thumb {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	border: 3px solid $darkBlue;
	background-color: $lightBlue;
	cursor: pointer;
}

.range__input::-ms-fill-lower,  
.range__input::-ms-fill-upper {  
  background: transparent;  
}  

.range__input::-ms-track {  
	width: 100%;
	height: 6px;
	border-radius: 3px;  
	border: 1px solid $white;
	background-color: $lightGrey;
	outline: none;
	color: transparent;

	@include for-desktop-m {    
		width: 770px;
	}
}  

.range__input::-ms-thumb {  
	width: 24px;
	height: 24px;
	border-radius: 50%;
	border: 3px solid $darkBlue;
	background-color: $lightBlue;
	cursor: pointer;
}

.content-order-form__file {
	flex-basis: 100%;
	display: flex;
	justify-content: center;

	@include for-desktop-s { 
		flex-basis: 370px; 
		display: block;  
		margin-left: 29px;
	}
}

.file__input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.file__input + label {
	display: inline-block;
	width: 330px;
	height: 48px;
	border-radius: 3px;
	border: 2px solid $blue;
	background-color: $white;
	color: $darkBlue3;
	font-family: "Lato - Semibold";
	font-size: 15px;
	font-weight: 400;
	line-height: 22px;
	text-transform: uppercase;
	padding: 13px 68px 0;
	cursor: pointer;

	@include for-desktop-s {    
		width: 370px;
		padding: 13px 88px 0;
	}
}

.file__image {
	margin-right: 18px;
}

.content-order-form-button-container {
	@extend %flex-block;
	justify-content: center;
}

.content-order-form-button-container__button {
	width: 100%;
	height: 48px;
	border-radius: 3px;
	border: 1px solid $white;
	background-color: $blue;
	color: $white;
	font-family: "Lato - Semibold";
	font-size: 15px;
	font-weight: 400;
	line-height: 22px;
	text-transform: uppercase;

	@include for-desktop-s {    
		width: 370px;
	}
}

.content-order-form__select {
	width: 100%;
	position: relative;
	margin-right: 0;
	margin-bottom: 12px;
	height: 48px;

	@include for-desktop-s {    
		width: 370px;
		margin-right: 29px;
		margin-bottom: 0;
	}
}

.content-order-form__select.is-active .select__body {
	display: block;
}

.content-order-form__select.is-active .select__header {
	border-radius: 3px 3px 0 0;
	background-color: #3d4050;
	color: $white;
	border: none;
}

.select__header {
	display: flex;
	border-radius: 3px;
	border: 1px solid $white;
	background-color: $white;
	color: $darkBlue3;
	font-family: Lato;
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
	cursor: pointer;
}

.select__current {
	font-size: 18px;
	line-height: 24px;
	padding: 11px 16px;
}

.select__icon {
	display: flex;
	align-items: center;
	flex-shrink: 0;
	justify-content: center;
	height: 40px;
	width: 40px;
	text-align: center;
	margin-left: auto;

	img {
		margin-top: 10px;
		height: 15px;
		width: 15px;
	}
}

.select__body {
	display: none;
	position: absolute;
	border-top: 0;
	left: 0;
	right: 0;
	border-radius: 0 0 3px 3px;
	border: 1px solid $darkGrey2;
	background-color: $darkBlue3;
	opacity: 0.9;
}

.select__item {
	padding: 11px 16px;
	color: $white;
	font-family: Lato;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	cursor: pointer;
}

.select__item:hover{
	color: $lightBlue;
}
