$white: #ffffff;
$white2: #fefefe;
$lightGrey: #c3c3c3;
$grey: #bbbbbb;
$darkGrey: #6f6d7b;
$darkGrey2: #3d4050;
$lightBlue: #42a9ed;
$blue: #3e9cdc;
$darkBlue: #286690;
$darkBlue2: #10101d;
$darkBlue3: #272733;
$black: #2a2b30;
$black2: #252525;

$padding16: 16px;
$padding28: 28px;
$padding48: 48px;
$padding72: 72px;
$padding120: 120px;
$padding375: 375px;

$mobileS: 360px;
$mobileM: 480px;
$mobileL: 550px;
$tablet: 768px;
$desktopS: 992px;
$desktopM: 1200px;
$desktopL: 1920px;

%flex-block {
	display: flex;
  flex-wrap: nowrap;
}

@mixin for-phone-s {
  @media (min-width: $mobileS) { @content; }
}

@mixin for-phone-m {
  @media (min-width: $mobileM) { @content; }
}

@mixin for-phone-l {
  @media (min-width: $mobileL) { @content; }
}

@mixin for-tablet {
  @media (min-width: $tablet) { @content; }
}

@mixin for-desktop-s {
  @media (min-width: $desktopS) { @content; }
}

@mixin for-desktop-m {
  @media (min-width: $desktopM) { @content; }
}

@mixin for-desktop-l {
  @media (min-width: $desktopL) { @content; }
}
